
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared */
.btn {
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* main */
nav {
    display: flex;
    gap: 341px;
    margin: 16px 120px;
    max-width: 1600px;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
    width: 374px;
    height: 25px;
}

nav li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}