*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared */
.btn {
    padding: 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-2 {
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    border-color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}

.color-green {
    color: #30B868;
}
/* main */
nav {
    display: flex;
    gap: 341px;
    padding: 16px 100px 16px 140px;
    max-width: 1600px;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
    width: 374px;
    height: 25px;
}

nav li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

#banner {
    background-image: url('/assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 120px 179px;
    text-align: center;
}

#banner .banner-content {
    color: #FFFFFF;
    
}

#banner .banner-content .highlight {
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
}

#banner .banner-content h3 {
    font-size: 72px;
    line-height: 81px;
    margin-bottom: 16px;
}

#banner .banner-content p {

    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;        
}