*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared */
.btn {
    padding: 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-2 {
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    border-color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}

.color-green {
    color: #30B868;
}

.section-heading {
    color: #001931;
    font-size: 48px;
    padding-top: 16px;
}
/* main */
nav {
    display: flex;
    gap: 341px;
    padding: 16px 100px 16px 140px;
    max-width: 1600px;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
    width: 374px;
    height: 25px;
}

nav li a {
    text-decoration: none;
    color: #000000;
}

#banner {
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 120px 179px;
    text-align: center;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner .banner-content {
    color: #FFFFFF;
    
}

#banner .banner-content .highlight {
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
    width: fit-content;
}

#banner .banner-content h3 {
    font-size: 72px;
    line-height: 81px;
    margin-bottom: 16px;
}

#banner .banner-content p {

    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;        
}
#notes {
    text-align: center;
}

#notes .section-text {
    padding-top: 16px;
    color: #627382;
}
#notes .note-text {
    color: #627382;
    margin-top: 16px;
}

#notes .note-box {
    display: flex;
    gap: 24px;
    margin: 44px 120px 120px;
}

#notes .note-box .note-card {
    box-shadow: 0 0 8px 0 #00000044;
    padding: 69px 24px;
    text-align: center;
}

#notes .note-box .note-card img {
    background-color: #F95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#second-brain {
    display: flex;
    gap: 60px;
    align-items: center;
    padding: 0 120px 120px;
}

#second-brain .brain-text .solution p {
    color: #627382;
    margin: 16px 0 40px;
}
#second-brain .brain-text ul i {
    color: #30B868;
}
#second-brain .brain-text .solution li {
    margin-bottom: 16px;
    list-style: none;
}    
#early-access {
    text-align: center;
    padding: 80px 20px;
    background-color: #F7F6F2;
    margin: 2px 120px 120px;
    border-radius: 12px;
}
#early-access .promo .promo-text {
    color: #627382;
    margin-bottom: 16px;
}

#early-access .promo .access-button {
    margin-bottom: 16px;
}

footer{
    background-color: #001931;
    padding: 120px 120px 0;
}

#footer-container .socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#footer-container .socials .social-links a img {
    margin-top: 16px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

#footer-container .socials .social-links p {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
}
#footer-container .socials .social-links .x, .in, .fb{
    margin-right: 16px;
}

#footer-container .copyright {
    color: #FFFFFF;
    text-align: center;
    padding: 30px 0 30px;
}